/* 스타일 파일 (style.css) */

/* 폰트 선언 영역 */
@font-face {
  font-family: "Aggro_B";
  src: url("../fonts/SB_Aggro_B.ttf") format("truetype");
}

@font-face {
  font-family: "Aggro_L";
  src: url("../fonts/SB_Aggro_B.ttf") format("truetype");
}
@font-face {
  font-family: "Aggro_M";
  src: url("../fonts/SB_Aggro_M.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard_Bold";
  src: url("../fonts/Pretendard_Bold.otf") format("truetype");
}

@font-face {
  font-family: "Pretendard_SemiBold";
  src: url("../fonts/Pretendard_SemiBold.otf") format("truetype");
}

@font-face {
  font-family: "Pretendard_Medium";
  src: url("../fonts/Pretendard_Medium.otf") format("truetype");
}

@font-face {
  font-family: "Pretendard_Regular";
  src: url("../fonts/Pretendard_Regular.otf") format("truetype");
}

@font-face {
  font-family: "Pretendard_Light";
  src: url("../fonts/Pretendard_Light.otf") format("truetype");
}

/* 기본 스타일 */
body.index {
  background-image: url("../img/BackGround_0.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body.commu {
  background-image: url("../img/BackGround_1.png");
  background-size: auto; /* 원본 크기 유지 */
  background-repeat: no-repeat;
  background-position: top left; /* 좌측 상단 배치 */
  margin: 0;
  height: 2403px; /* 이미지의 원본 높이 */
  width: 1920px; /* 이미지의 원본 너비 */
}

body.hall {
  background-image: url("../img/BackGround_2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body.about {
  background-image: url("../img/BackGround_3.png");
  background-size: auto; /* 이미지의 원본 크기를 유지 */
  background-repeat: no-repeat;
  background-position: top left; /* 좌측 상단에서 시작 */
  margin: 0;
  height: 4262px; /* 이미지의 원본 높이 */
  width: 1920px; /* 이미지의 원본 너비 */
}
/* 메뉴바 스타일 */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.logo {
  position: absolute;
  top: 22px;
  left: 102px;
}

.menu-items {
  margin-left: 559px;
  display: flex;
  gap: 209px;
}

.menu-item {
  font-family: "Aggro_M";
  font-size: 20px;
  color: #d9d9d9;
  text-decoration: none;
  transition: color 0.3s;
}

.menu-item:hover {
  font-family: "Aggro_M";
  font-weight: bold;
  color: #ffffff;
}

/*======>index.html 스타일<======*/
.main-image {
  position: absolute;
  top: 310px;
  left: 43px;
}

.main-text {
  position: absolute;
  top: 425px;
  left: 162px;
  font-family: "Aggro_M";
  font-size: 80px;
  color: #ffffff;
}

.sub-text {
  position: absolute;
  top: 638px;
  left: 162px;
  font-family: "Pretendard_Regular";
  font-size: 20px;
  color: #ffffff;
}

.enroll-button {
  position: absolute;
  top: 707px;
  left: 162px;
  width: 303px;
  height: 70px;
  background-color: #de1c29;
  border: none;
  border-radius: 10px;
  font-family: "Pretendard_Bold";
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.enroll-button:hover {
  background-color: #b01521;
}

.bottom-right-image {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 808px;
  height: 688px;
}

/* 오버레이 이미지 영역 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centered-overlay-image {
  width: 400px;
  height: auto;
}

/*======>Tools.html 스타일<======*/
.bottom-left-image {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 682px;
  height: auto;
}

.test-aim-text {
  position: absolute;
  top: 412px;
  right: 370px;
  font-family: "Aggro_B";
  font-size: 35px;
  color: #ffffff;
}

.test-range-button {
  position: absolute;
  top: 476px;
  font-family: "Pretendard_Bold";
  left: 1120px;
}

.enroll-button2 {
  position: absolute;
  width: 303px;
  height: 70px;
  background-color: #de1c29;
  border: none;
  border-radius: 10px;
  font-family: "Pretendard_Bold";
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.test-psa-text {
  position: absolute;
  top: 658px;
  right: 370px;
  font-family: "Aggro_B";
  font-size: 35px;
  color: #ffffff;
}

.enroll-button3 {
  position: absolute;
  width: 303px;
  height: 70px;
  background-color: #de1c29;
  border: none;
  border-radius: 10px;
  font-family: "Pretendard_Bold";
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.test-range-button2 {
  position: absolute;
  top: 722px;
  font-family: "Pretendard_Bold";
  left: 1120px;
}

#aim-test-screen.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

#aim-test-screen.hidden {
  display: none;
}

.mode-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

.mode-selection.hidden {
  display: none;
}

.mode-selection button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #de1c29;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1000;
}

.mode-selection button:hover {
  background-color: #b91620;
}

.target {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  z-index: 1001;
}

.score-display {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: #ffffff;
  z-index: 1002;
  font-family: "Pretendard_Bold";
}

.timer-display {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #ffffff;
  z-index: 1002;
  font-family: "Pretendard_Bold";
}

/*======>Halls.html 스타일<======*/
.logo_hall_2 {
  position: absolute;
  top: 180px;
  left: 895px;
  width: 129px;
  height: 136px;
}

.text-hall-flame {
  position: absolute;
  top: 340px;
  left: 820px;
  font-family: "Aggro_B";
  color: #ffffff;
  font-size: 40px;
}

.text-hall-kr {
  position: absolute;
  top: 396px;
  left: 914px;
  font-family: "Pretendard_Medium";
  color: #ffffff;
  font-size: 20px;
}

/*======>Halls.html 박스 부분<======*/
.user_name_title {
  color: #ffffff;
  font-size: 20px;
  font-family: "Pretendard_Bold";
  margin-left: 323px;
  margin-top: 481px;
  margin-bottom: 14px;
}

.user_box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-left: 323px;
}

.user_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_box {
  width: 140px;
  height: 140px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.user_box-text1 {
  font-family: "Pretendard_Regular";
  font-size: 20px;
  color: #ffffff;
  margin-top: 14px;
  text-align: center;
}

.user_box-text2 {
  font-family: "Pretendard_Regular";
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

/*About Us Html 스타일*/
.logo2_about {
  position: absolute;
  top: 320px;
  left: 816px;
  width: 280px;
  height: 296px;
}

.about-text {
  position: absolute;
  top: 640px;
  left: 728px;
  font-size: 40px;
  color: #ffffff;
  font-family: "Aggro_M";
}

.discord {
  position: absolute;
  top: 830px;
  left: 892px;
  width: 102px;
  height: 94.78px;
}

.about-text2 {
  position: absolute;
  top: 940px;
  left: 799px;
  font-size: 40px;
  color: #ffffff;
  font-family: "Pretendard_Bold";
}

.discordLink {
  position: absolute;
  top: 996px;
  left: 758px;
  font-size: 30px;
  color: #777;
  font-family: "Pretendard_Medium";
}

.title2 {
  position: absolute;
  top: 1272px;
  left: 876px;
  align-items: baseline;
  gap: 10px;
}

.title-main2 {
  font-size: 40px;
  font-family: "Pretendard_Bold";
  color: #fff;
}

.title-sub2 {
  font-size: 20px;
  font-family: "Pretendard_Regular";
  color: #fff;
}

.principle-box {
  position: absolute;
  top: 1360px;
  left: 810px;
  width: 300px;
  height: 300px;
}

.principle_name {
  position: absolute;
  color: #fff;
  top: 1692px;
  left: 925px;
  font-size: 40px;
  font-family: "Pretendard_Bold";
}

.principle_mail {
  position: absolute;
  color: #ddd;
  top: 1756px;
  left: 807px;
  font-size: 30px;
  font-family: "Pretendard_Light";
}

.info-text-container {
  position: absolute;
  top: 1780px;
  left: 460px;
  text-align: center;
  font-family: "Pretendard_Light";
  font-size: 30px;
  line-height: 1.6;
  margin: 50px 20px;
  color: #ffffff;
}

.info-text-container p {
  margin: 10px 0;
}

/*method*/
.psa_Text
{
  position: absolute;
  color: #ddd;
  left: 162px;
  font-family: "Pretendard_Light";
  font-size: 20px;
}
